.Hero-root{
    padding-top: 150px;
}
@media (max-width:920px) {
    .carousel-root{
        padding-top: 100px;
    }
}
@media (max-width:910px) {
    .carousel-root{
        width: 100vw;
    }
}
@media (max-width:500px) {
    .carousel-root{
        width: 100vw;
    }
}