.post-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom right, #FCE38A, #F38181);
}
.post-card:hover{
    background: linear-gradient(to bottom right, #F54EA2, #FF7676),
    linear-gradient(to Left top, #ffffff, #f1b9b9);
}
.post-image{
    width: 150px;
    height: 100px;
}
.post-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}